In [1]:
from cuota.importers.import_tax_data import get_all_social_security_data

In [7]:
tax_models = get_all_social_security_data(as_tax_model=True, save_as="a")

In [3]:
from cuota.logic.comparators import Comparator

In [4]:
comp = Comparator(tax_models)

In [5]:
comp.data.head()

     Social Security                                                         \
             payable payable in sequence net of this metric net in sequence
6000          2760.0              2760.0             3240.0          3240.0
6100          2760.0              2760.0             3340.0          3340.0
6200          2760.0              2760.0             3440.0          3440.0
6300          2760.0              2760.0             3540.0          3540.0
6400          2760.0              2760.0             3640.0          3640.0

                                           year
     effective rate effective in sequence
6000       0.460000              0.460000  2023
6100       0.452459              0.452459  2023
6200       0.445161              0.445161  2023
6300       0.438095              0.438095  2023
6400       0.431250              0.431250  2023

In [6]:
tax_models[0]

TaxModel(tax_rules=[BandsGroup(bands=[Band(floor=0, ceiling=8040, rate=None, flat_charge=2760), Band(floor=8040, ceiling=10800, rate=None, flat_charge=3120), Band(floor=10800, ceiling=14000, rate=None, flat_charge=3300), Band(floor=14000, ceiling=15600, rate=None, flat_charge=3492), Band(floor=15600, ceiling=18000, rate=None, flat_charge=3528), Band(floor=18000, ceiling=20400, rate=None, flat_charge=3528), Band(floor=20400, ceiling=22200, rate=None, flat_charge=3720), Band(floor=22200, ceiling=24360, rate=None, flat_charge=3780), Band(floor=24360, ceiling=27960, rate=None, flat_charge=3840), Band(floor=27960, ceiling=33120, rate=None, flat_charge=3960), Band(floor=33120, ceiling=38280, rate=None, flat_charge=4200), Band(floor=38280, ceiling=43440, rate=None, flat_charge=4440), Band(floor=43440, ceiling=48600, rate=None, flat_charge=4680), Band(floor=48600, ceiling=72000, rate=None, flat_charge=5040), Band(floor=72000, ceiling=84000, rate=None, flat_charge=6000)], allowance=0, name='Social Security')], year=2023)